.form_group {
    margin-right: 15px;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
    padding-left: 10.5%;
    float: left;
    font-weight: bold;
    width: 33.3333333333%;
}


.form_other {
    font-weight: normal;
    color: #000000;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.employer {
  text-align: left;
}

.form_elements {
    width: 650px;
    font-size: 80%;
}

.form_radio {
    float: left;
    padding-bottom: 25px;
}
.form_check {
    float: left;
    padding-bottom: 25px;
}

.button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-right: 30px;
  padding-left: 70px;
  margin: 0 0 15px 25%;
  position: relative;
  background-color:rgb(33, 73, 136);
  color:rgb(255,255,255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
  cursor: hand;
}

.button span {
  position: absolute;
  text-align: center;
  left: 0;
  width: 50px;
  background-color:rgba(0,0,0,0.5);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid  rgba(0,0,0,0.15);
}

.button:hover span, .button.active span {
  background-color:#56638A;
  border-right: 1px solid  #56638A;
}

.buttonD:hover span, .buttonD.active span {
  background-color: rgb(128,0,0);
}

.buttonD {
  cursor: not-allowed;
  pointer-events: none;
  background-color:rgb(128,0,0);
}

.textnote {
    text-align: center;
    font-weight: bold;
    padding: 0 5% 0 5%;
}

.centerButton {
  margin: 0 auto;
  max-width: 500px;
  min-width: 500px;
}

.payButton {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  max-width: 150px;
  min-width: 150px;
  margin-left: 25px;
  margin-top: 2px;
  cursor: pointer;
}

#footnote {
    float: right;
    font-size: 10px;
    font-family: cursive;
    font-weight: bold;
    padding-right: 2%;
    color: white;
    width: 100%;
    text-align: right;
    margin-top: -2%;
}

input.ng-invalid-required, input.ng-invalid-email {
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;
    background-image: url(/css/images/icon-error@2x.png);
}

.confirm {
    background-color: #49001F;
}

.confirm:hover span, .button.active span {
  background-color:#824C71;
  border-right: 1px solid  #824C71;
}

.floating {
  position: fixed;
  right: 2%;
  top: 7%;
  background-color: yellow;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  z-index: 1;
}

.payment-row {
  text-align: center;
  font-size: 16px;
}