/*
Theme Name: BrickYard
Theme URI: http://www.tomastoman.cz/brickyard
Author: Tomas Toman
Author URI: http://www.tomastoman.cz/
Description: BrickYard is an easily customizable WordPress blog and magazine theme. It is a fully responsive theme that allows for easy viewing on any device. BrickYard theme offers 3 pre-defined color schemes, 220 Google fonts, Theme Options Panel for easy adaptation to your needs, custom widget for displaying the latest posts from the selected category on your homepage, sidebar and footer widget areas, social network profile links in header, theme documentation and much more. Supports popular plugins WooCommerce and Breadcrumb NavXT. Available in Brazilian Portuguese, Czech, Danish, Dutch, English, French, German, Greek, Italian, Polish, Russian, Slovak and Spanish.
Version: 1.2.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, black, white, gray, blue, red, orange, one-column, two-columns, right-sidebar, responsive-layout, custom-background, custom-header, custom-colors, custom-menu, featured-images, full-width-template, sticky-post, theme-options, translation-ready, editor-style, rtl-language-support
Text Domain: brickyard
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: none;
  margin: 0;
	padding: 0;
	vertical-align: baseline;
}    
h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  -ms-word-wrap: break-word;
  word-wrap:     break-word;
  line-height: 120%;
  margin: 30px 0 7px;                   
}
h1 {
  color: black;
  font-size: 27px;  
}
h2 {
  color: #222222;
  font-size: 21px;  
}
h3 {
  color: #333333;
  font-size: 18px;  
}
h4 {
  color: #444444;
  font-size: 16px;  
}
h5 {
  color: #555555;
  font-size: 14px;  
}
h6 {
  color: #666666;
  font-size: 13px;  
}
p, ul, ol, li, dl, address {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 13px;
  text-align: left;
}
ul {
  margin-left: 16px;   
}
ol {
	list-style-type: decimal;
  margin-left: 20px;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
dl {
  margin-bottom: 20px;   
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 5px;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
	text-transform: uppercase;
}
a {
  color: #ed7c00;
  text-decoration: underline;           
}
a:hover {
  text-decoration: none;           
}
a img {
  border: none;      
}
img {
  height: auto; 
  max-width: 100%;   
}
table {
  font-size: 13px;
  width: 100%;      
}
table, td, th {
  border: 1px solid #e3e3e3;
  border-collapse: collapse;
  text-align: left;
}
td, th {
  padding: 5px 8px;       
}
th {
  background: #555555;
  color: white;
  font-weight: bold;   
}
blockquote, q { 
  border-left: 1px solid #e3e3e3;
  clear: both;
  color: #333333;
  font-style: italic;
  margin: 0 0 20px;
  padding-left: 10px;
}
address {
  font-style: italic;        
}
pre {
  margin-bottom: 20px;
  overflow: auto;   
}
sup {
  vertical-align: super;    
}
sub {
  vertical-align: sub;    
}
iframe,
embed {
  clear: both;
  width: 100%;   
}
hr {
  background: #e8e8e8;
  border: none;
  height: 1px; 
  margin: 15px 0;  
}


/* WordPress Core
-------------------------------------------------------------- */

.alignnone {
  clear: both;
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  clear: both;
  display: block;
  margin: 5px auto 20px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 20px auto;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.wp-caption,
.gallery-caption {
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px;
  text-align: center;
}
#wrapper .gallery-caption {
  border: none;                          
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
#wrapper .wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px;
}
.wp-audio-shortcode {
  margin-bottom: 20px;                   
}


/* basic structure
-------------------------------------------------------------- */

body {
  background: #cccccc;
  color: black;
  font-family: Arial, Helvetica, sans-serif;  
  line-height: 150%; 
}
#container {  
  margin: 0 auto;
  max-width: 1012px;
  position: relative;
  width: 100%; 
}
#header,
#main-content,
#wrapper-footer {
  float: left;
  height: auto;
  position: relative;
  width: 100%;        
}
#header {
  background: white;  
  margin-bottom: 20px;      
}
#wrapper #main-content {
  padding: 0;
  position: relative;
  width: 1012px;              
}
#content {
  float: left;
  margin: 0;
  width: 100%;        
}
.page-template-template-full-width-php #container #content,
.page-template-template-landing-page-php #container #content {
  width: 100%;                                                      
}
.entry-content,
.sidebar-widget {
  background: white;
  float: left;
  margin-bottom: 20px;
  position: relative; 
  width: 100%;           
}
.entry-content-inner {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 0;
  position: relative;
  width: auto;                  
}
#wrapper .entry-content-bcn {
  margin-bottom: 10px;                            
}
.entry-content-bcn .entry-content-inner {
  padding: 10px 20px;                                        
}
#sidebar {
  float: right;
  margin: 0 0 0 28px;
  position: relative;
  width: 328px;         
}
.scroll-top {
  background: #555555 left top no-repeat url(images/scroll-top.png);
  border: 1px solid black;
  cursor: pointer;
  display: block;
  height: 29px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 29px;
  z-index: 200;            
}
#wrapper .scroll-top:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;                             
}
body .pattern {
  background: left top repeat url(images/pattern.png);
  height: 100%;
  opacity: 0.1;
  filter: alpha(opacity=10);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; 
  z-index: -1;        
}
#header,
#wrapper-footer,
.entry-content,
.sidebar-widget {
  -webkit-box-shadow: 0 0 3px #333333;
  -moz-box-shadow:    0 0 3px #333333;
  box-shadow:         0 0 3px #333333;
}


/* header
-------------------------------------------------------------- */

.header-content {
  float: left;
  padding: 30px 20px;
  position: relative; 
  width: 972px;               
}
.site-title { 
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bold;  
  line-height: 100%;
  margin: 0;
  max-width: 750px; 
  position: relative;
  width: 100%;
  z-index: 50;       
}
.site-description { 
  color: #888888;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 100%;
  margin: 12px 0 0; 
  max-width: 750px;
  position: relative;
  width: 100%;
  z-index: 50;        
}
.site-title a {
  color: #ed7c00;
  text-decoration: none;           
}
.site-title a:hover {
  color: black; 
  -webkit-transition: color 1s;
  transition: color 1s;                   
}
.header-logo {
  clear: both;
  display: block;
  height: auto;
  margin: 0;
  max-width: 750px;
  position: relative;
  width: auto;             
}
.page-template-template-landing-page-php .site-title,
.page-template-template-landing-page-php .site-description,
.page-template-template-landing-page-php .header-logo {
  max-width: 100%;              
}
.header-image {
  background: white;
  float: left;
  height: auto;
  position: relative;
  width: 100%;              
}
.header-image img {
  display: block; 
  margin: 0 auto;                 
}

/* header menu */
/* 
This copyright notice must be untouched at all times.
The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/final_drop3.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements. */
.menu-box {
  background: #333333;
  border-bottom: 2px solid #ed7c00;
  float: left;
  min-height: 44px;
  padding: 0 20px;
  position: relative;
  width: 972px;
  z-index: 500;          
}
.menu-box .link-home {
  background-image: url(images/icon-home.png);
  background-position: center center;
  background-repeat: no-repeat;
  border-left: 1px solid #535353;
  position: relative;
  width: 24px;                    
}
.menu-box ul {
  list-style-type: none;
  margin: 0;
  position: relative;
  text-align: left;
  z-index: 100;
}
.menu-box ul ul {
  background: #ededed;
  border-top: 2px solid #ed7c00;
  float: none;
  width: 212px;
  z-index: 110;
}
.menu-box ul li {
  float: left;
  height: 44px;
  line-height: 44px;
  margin: 0;
  position: relative;
}
.menu-box ul ul li {
  border-bottom: 1px solid #d9d9d9;
  display: block;
  height: auto;
  line-height: 39px;
  margin: 0;
  min-height: 39px;
  position: relative;
  width: 212px;
}
#wrapper #header .menu-box ul ul .last-menu-item {
  border-bottom: none;                          
}
.menu-box a,
.menu-box a:visited {
  border-right: 1px solid #535353;
  color: white;
  display: block;
  float: left;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  padding: 0 19px;
  text-decoration: none;
  text-transform: uppercase;
}
#header .menu-box ul ul a,
#header .menu-box ul ul a:visited {
  border-right: none;
  color: #333333 !important;
  display: block;
  font-size: 13px;
  font-weight: normal;
  height: auto;
  line-height: 39px;
  margin: 0;
  min-height: 39px;
  padding: 0 0 0 19px;
  text-align: left;
  width: 193px;
}
#header .menu-box ul ul ul a,
#header .menu-box ul ul ul a:visited {
  color: #444444 !important;
}
.menu-box a:hover,
.menu-box :hover > a {
  background-color: #111111;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
#header .menu-box ul ul a:hover,
#header .menu-box ul ul :hover > a {
  background-color: #dbdbdb !important;
  color: black !important;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
.menu-box ul ul {
  height: 0;
  position: absolute;
  left: 0px;
  top: 44px;
  visibility: hidden;
  width: 212px; 
}
.menu-box ul ul ul {
  left: 212px;
  top: -2px;
  width: 212px;
}
.menu-box ul li:hover ul,
.menu-box ul a:hover ul,
.top-navigation ul li:hover ul,
.top-navigation ul a:hover ul {
  height: auto;
  padding-bottom: 0;
  visibility: visible;
}
.menu-box ul :hover ul ul,
.top-navigation ul :hover ul ul {
  visibility: hidden;
}
.menu-box ul :hover ul :hover ul ul,
.top-navigation ul :hover ul :hover ul ul {
  visibility: hidden;
}
.menu-box ul :hover ul :hover ul,
.top-navigation ul :hover ul :hover ul {
  visibility: visible;
}
.menu-box ul :hover ul :hover ul :hover ul,
.top-navigation ul :hover ul :hover ul :hover ul {
  visibility: visible;
}
#header .menu-box .current-menu-item > a,
#header .menu-box .current-menu-ancestor > a,
#header .menu-box .current_page_item > a,
#header .menu-box .current-page-ancestor > a,
.home #header .menu-box .link-home {
  background-color: #ed7c00;
}
#header .menu-box .sub-menu .current-menu-item > a,
#header .menu-box .sub-menu .current-menu-ancestor > a,
#header .menu-box .sub-menu .current_page_item > a,
#header .menu-box .sub-menu .current-page-ancestor > a {  
  background-color: #ededed;
  color: black !important;
}
.selectnav {
  display: none;
} 
#wrapper .sticky-nav {
  max-width: 972px;
  position: fixed;
  top: 0;
  z-index: 200;
}   
.admin-bar .sticky-nav {
  top: 32px !important;
}

/* top navigation */
#top-navigation-wrapper {
  border-bottom: 1px solid #e6e6e6;
  float: left;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 550;                        
}
.top-navigation {
  min-height: 34px;
  padding: 0 20px;               
}
.top-navigation ul {
  border-left: 1px solid #e6e6e6;
  float: left;
  list-style-type: none;
  margin: 0;
  max-width: 790px;
  position: relative;
}
.top-navigation ul ul {
  border-left: none;
  background: #ededed;
  margin: 0;
  width: 250px;
  z-index: 110;
}
.top-navigation ul li {
  float: left;
  height: 34px;
  line-height: 34px; 
  position: relative;
}
.top-navigation ul .last-menu-item {
  margin-right: 0;                                   
}
.top-navigation ul ul li {
  border-bottom: 1px solid #d9d9d9;
  display: block;
  height: auto;
  line-height: 30px;
  margin: 0;
  min-height: 30px;
  position: relative;
  width: 250px;
}
#wrapper #header .top-navigation ul ul .last-menu-item {
  border-bottom: none;                          
}
.top-navigation a,
.top-navigation a:visited {
  border-right: 1px solid #e6e6e6;
  color: #999999;
  display: block;
  float: left;    
  font-size: 13px;
  height: 34px;
  line-height: 34px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
}
#wrapper #header .top-navigation ul ul a,
#wrapper #header .top-navigation ul ul a:visited { 
  border-right: none;
  color: #777777;
  display: block;
  font-size: 13px;
  font-weight: normal;
  height: auto;
  line-height: 30px;
  margin: 0;
  min-height: 30px;
  padding: 0 0 0 16px;
  text-align: left;
  width: 234px;
}
.top-navigation ul a:hover,
.top-navigation ul :hover > a {
  background-color: #eeeeee;
  color: #111111;
  -webkit-transition: color 1s, background-color 1s;
  transition: color 1s, background-color 1s;
}
#wrapper #header .top-navigation ul ul a:hover,
#wrapper #header .top-navigation ul ul :hover > a {
  background-color: #dbdbdb;
  color: #333333;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
.top-navigation ul ul {
  border-top: 1px solid #ed7c00;
  height: 0;
  position: absolute;
  left: 0;
  top: 34px;
  visibility: hidden;
  width: 250px; 
}
.top-navigation ul ul ul {
  left: 250px;
  top: -1px;
  width: 250px;
}
#wrapper #header .top-navigation .current-menu-item > a,
#wrapper #header .top-navigation .current-menu-ancestor > a,
#wrapper #header .top-navigation .current_page_item > a,
#wrapper #header .top-navigation .current-page-ancestor > a {
  color: black;
}
.header-icons {
  border-left: 1px solid #e6e6e6;
  height: 34px;
  position: absolute;
  right: 20px;
  top: 0;
  width: auto;              
}
#wrapper .top-navigation .header-icons a {
  display: block; 
  height: 34px;
  padding: 0; 
  width: 34px;              
}
.social-icon {
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  width: 34px;             
}
.header-icons .facebook-icon {
  background-image: url(images/icon-facebook.png);
  padding: 0;                          
}
.header-icons .twitter-icon {
  background-image: url(images/icon-twitter.png);                             
}
.header-icons .google-icon {
  background-image: url(images/icon-google.png);                             
}
.header-icons .rss-icon {
  background-image: url(images/icon-rss.png);
  padding: 0; 
}
#wrapper .top-navigation .header-icons a:hover {
  background-color: #eeeeee;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;            
}


/* main content
-------------------------------------------------------------- */

.content-headline {
  margin: 0 0 15px;
  width: 100%;                  
}
.archive .content-headline {
  margin: 0 0 22px;                  
}
.entry-headline {
  background: left 50% repeat-x url(images/pattern-headline.png);
  color: black;
  font-size: 27px;
  line-height: 100%;
  margin: 0;
  position: relative;
  z-index: 50;                                  
}  
.home-latest-posts .entry-headline {
  margin-bottom: 25px;                                   
}
.entry-headline-text {
  background: white;
  display: inline-block;  
  max-width: 90%;
  padding-right: 15px;                     
}
#content p,
#content ul,
#content ol,
#content table,
#content address {
  margin-bottom: 15px;           
}
#content ul ul,
#content ol ol,
#content ol ul,
#content ul ol {
  margin-bottom: 0;           
}
.home-latest-posts {
  float: left;
  position: relative;
  width: 100%;                                 
}
#sidebar .home-latest-posts,
#footer .home-latest-posts {
  display: none;                  
}
#content .breadcrumb-navigation {
  color: #bbbbbb;  
  font-size: 12px;
  line-height: 100%;
  margin: 0;
  position: relative;
  width: 100%;                                      
}
#content .breadcrumb-navigation a {
  color: #999999 !important; 
  text-decoration: none;
}
#content .breadcrumb-navigation a:hover {
  color: #333333 !important;
  -webkit-transition: color 1s;
  transition: color 1s; 
}
#main-content .post-meta {
  clear: both;
  color: #999999; 
  font-size: 12px;
  line-height: 21px;
  padding-bottom: 5px;
  margin: -2px 0 0;        
}
.single #main-content #content .post-meta {
  margin: 0;                                          
}
#main-content .post-meta span {
  border-left: 1px solid #dbdbdb; 
  padding: 0 6px 0 6px;                             
}
#main-content .post-meta .post-info-author {
  border-left: none; 
  padding-left: 0;                                          
}
#main-content .post-info {
  border-top: 1px solid #e8e8e8;
  clear: both;
  color: #999999; 
  float: left;
  font-size: 12px;
  line-height: 21px;
  margin: 10px 0 0;
  padding: 0;
  width: 100%;        
}
.single #main-content #content .post-info {
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 20px;                                          
}
.post-info a,
.post-meta a {
  color: #999999 !important;
  text-decoration: none;             
}
.post-info a:hover,
.post-meta a:hover {
  color: #111111 !important;
  -webkit-transition: color 1s;
  transition: color 1s;             
}
.post-info span { 
  display: inline-block; 
  min-height: 16px;
  line-height: 16px;
  padding: 0 0 0 22px;               
}
#main-content .post-info .post-category,
#main-content .post-info .post-tags {
  float: left;
  margin: 0;
  padding: 6px 0;
  width: 50%;                       
}
#main-content .post-info .post-tags {
  padding-left: 5%;
  text-align: right;
  width: 45%;                           
}
.post-info .post-info-category {
  background: left top no-repeat url(images/icon-category.png);                
}
.post-info .post-info-tags {
  background: left top no-repeat url(images/icon-tag.png);                
}
#content .archive-meta {
  border-bottom: 1px solid #e8e8e8;
  float: left; 
  margin-bottom: 25px;  
  width: 100%;                    
}
#main-content .author-info .author-avatar {
  margin: 0 0 5px;                                          
}
#main-content .number-of-results {
  font-weight: bold;                                
}
#main-content #content .page-link {
  color: #333333;
  font-size: 12px;                                  
}
#nav-below,
#brickyard-post-nav,
.search .navigation {
  float: left;
  margin: 0 0 25px;
  width: 100%;           
}
#main-content #brickyard-post-nav {
  margin: 5px 0 25px;                                 
}
.nav-wrapper {
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  float: left;
  padding: 5px 0;
  width: 100%;               
}
.navigation-headline {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 4px;                                          
}
.navigation .navigation-links {
  margin-bottom: 0 !important;                              
}
.navigation .navigation-links a {
  text-decoration: none;                                
}
.navigation .navigation-links a:hover {
  text-decoration: underline;                                
}
#main-content .nav-previous {
  float: left;
  margin: 0;
  width: 50%;                       
}
#main-content .nav-next {
  float: right;
  margin: 0;
  text-align: right;
  width: 50%;                       
}
#main-content .nav-previous a,
#main-content .nav-next a {
  text-decoration: none;                          
}
#main-content .nav-previous a:hover,
#main-content .nav-next a:hover {
  text-decoration: underline;                          
}
.post-edit-link {
  font-weight: bold;                
}

/* default post entry */
.post-entry {
  border-bottom: 1px solid #e8e8e8;
  float: left;
  margin-bottom: 25px;
  position: relative; 
  width: 100%;           
}
.search .type-page {
  padding-bottom: 10px;                  
}
#main-content .sticky {
  background-color: #f0f0f0;
  padding: 20px 3% 0;
  width: 94%;                 
}
.post-entry-content-wrapper {
  padding: 3px 0 0;                           
}
.attachment-post-thumbnail { 
  float: left;
  height: auto;
  margin: 0 15px 5px 0;
  max-width: 40%;
  width: auto;
}
.single #content .attachment-post-thumbnail,
.page #content .attachment-post-thumbnail { 
  clear: both;
  display: block;
  float: none;
  margin: 0 0 20px;  
  max-width: 100%;
  padding: 7px 0 0;
}
.post-entry-content {
  margin-bottom: -12px; 
  margin-top: -5px;                   
}
.post-entry-content h1 {
  font-size: 21px;  
}
.post-entry-content h2 {
  font-size: 19px;  
}
#main-content .post-entry .post-entry-headline {
  font-size: 21px;
  line-height: 100%;
  margin: 0 0 7px;            
}
.post-entry .post-entry-headline a {
  color: #ed7c00;
  text-decoration: none;                 
}
.post-entry .post-entry-headline a:hover {
  color: black;
  -webkit-transition: color 1s;
  transition: color 1s;                       
}
.post-entry .read-more-button {
  background-color: #ffa340;
  color: white !important;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin: 8px 0 3px;
  padding: 6px 8px;
  text-decoration: none;
  text-transform: uppercase;                             
}
.post-entry .read-more-button:hover {
  background-color: #ed7c00; 
  -webkit-transition: background-color 1s;
  transition: background-color 1s;                                   
}


/* sidebar
-------------------------------------------------------------- */

.sidebar-widget {
  color: #333333;
  font-size: 13px;               
}
.sidebar-widget-inner {
  padding: 20px 20px 24px;
  position: relative;
  width: auto;                  
}
.sidebar-widget .sidebar-headline {
  background: left 50% repeat-x url(images/pattern-sidebar.png);
  color: #333333;
  font-family: Oswald, Arial, Helvetica, sans-serif; 
  font-size: 19px;
  margin: -5px 0 7px;
  position: relative;                                 
}
.sidebar-headline-text {
  background: white;
  display: inline-block;  
  max-width: 90%;
  padding-right: 10px;                     
}
.sidebar-widget .sidebar-headline a {
  color: #333333;
  text-decoration: none;                                    
}
.sidebar-widget img {
  height: auto;
  max-width: 100%;                    
}
.sidebar-widget p {
  margin: 6px 0 -4px;                  
}
.sidebar-widget p,
.sidebar-widget ul li,
.sidebar-widget ol li {
  color: #333333;
  font-size: 13px;                   
}
.sidebar-widget ul {
  background: left top repeat url(images/sidebar-ul.png); 
  margin: -2px 0 0;                      
}
.sidebar-widget ul ul {
  margin-top: 0;                      
}
.sidebar-widget ul li {
  background: left top no-repeat url(images/sidebar-li.png);
  height: auto;
  line-height: 32px;
  list-style-type: none;
  min-height: 32px;
  padding-left: 14px;                       
} 
.sidebar-widget a {
  color: #ffa340;
  text-decoration: underline;                       
}
.sidebar-widget ul li a {
  text-decoration: none;                        
}
.sidebar-widget a:hover {
  color: black !important;
  text-decoration: none;
  -webkit-transition: color 1s;
  transition: color 1s;                       
} 


/* footer
-------------------------------------------------------------- */

#wrapper #wrapper-footer {
  background: #333333;               
}
#footer {
  float: left;
  padding: 0 20px;
  position: relative;
  width: 972px;                
}
#footer p,
#footer ul li,
#footer ol li {
  color: white;
  font-size: 13px;          
}
#footer .footer-widget-area p,
#footer .footer-widget-area ul,
#footer .footer-widget-area ol {
  margin-bottom: 2px;          
}
#footer table,
#footer td,
#footer th {
  border-color: black;
  color: white;                                      
}
#footer a {
  color: #ffcd96;          
}
.footer-widget-area {
  float: left;
  height: auto;
  margin-right: 21px;
  padding: 30px 0 4px;
  position: relative; 
  width: 310px; 
  z-index: 50;                
}
#footer .footer-widget-area-3 {
  margin-right: 0;                              
}
.footer-widget {
  margin-bottom: 20px;               
}
#footer .footer-widget .footer-headline {
  background: left 50% repeat-x url(images/pattern-footer.png);
  color: #ededed;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 100%;
  margin-bottom: 8px;                                 
}
.footer-headline-text {
  background: #333333;
  display: inline-block;  
  max-width: 90%;
  padding-right: 10px;                     
}
.footer-signature { 
  background: #121212;
  float: left;
  position: relative;
  width: 100%; 
  z-index: 50;       
}
.footer-signature .footer-signature-content {
  color: white;
  font-size: 12px;
  line-height: 22px;
  min-height: 42px; 
  text-align: center;                                         
}
.footer-signature .footer-signature-content p {
  color: white;
  font-size: 12px;
  line-height: 22px;
  min-height: 22px;
  padding: 10px 0;
  text-align: center;                                              
}
.footer-signature .footer-signature-content a {
  color: #ffcd96;                                             
}


/* default widgets
-------------------------------------------------------------- */

#wp-calendar th,
#wp-calendar td {
  text-align: center;                   
}
#wp-calendar a,
#wp-calendar #today {
  font-weight: bold;
  text-decoration: none;               
}
#wp-calendar #prev {
  text-align: left;                   
}
#wp-calendar #next {
  text-align: right;                   
}
.tagcloud {
  padding-top: 6px;          
}
#footer .tagcloud {
  padding-top: 0;          
}
.tagcloud a {
  text-decoration: none;          
}
.tagcloud a:hover {
  text-decoration: underline;          
}
.sidebar-widget img,
.footer-widget img {
  padding-top: 3px;                           
}
.sidebar-widget .wp-caption,
.footer-widget .wp-caption {
  border: none;
  margin-right: 0;                          
}
.sidebar-widget .wp-caption img,
.footer-widget .wp-caption img {
  max-width: 100%;                           
}
.sidebar-widget select {
  margin-top: 3px;
  width: 100%;                       
}
.sidebar-widget #searchform {
  margin-top: 10px;                       
}


/* form fields
-------------------------------------------------------------- */

input[type="text"],
input[type="file"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="url"],
textarea,
select {
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  color: #333333;
  line-height: normal;
  padding: 5px;
  width: 50%;
  margin-bottom: 1px;
}
textarea {
	overflow: auto;
	vertical-align: top;
  width: 98%;
}
input[type="submit"],
input[type="reset"] {
  background: #ffa340;
  border: none;
  border-radius: 0 !important;
  box-shadow: none;
  color: white !important;
  cursor: pointer;
  font-size: 15px;
  height: auto;
  margin-top: 5px;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none; 
  text-shadow: none;                  
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #ed7c00; 
  -webkit-transition: background-color 1s;
  transition: background-color 1s;                    
}
#searchform .searchform-wrapper {
  height: 31px;
  position: relative;
  width: 100%;                                
}
.header-content #searchform .searchform-wrapper {
  margin-top: -15px;
  position: absolute;
  right: 20px;
  top: 50%;
  width: 200px;
  z-index: 100;        
}
#searchform .searchform-wrapper #s {
  color: #aaaaaa; 
  font-size: 13px;
  height: 19px;
  padding: 5px 0 5px 3%;
  position: absolute;
  left: 0;
  top: 0;
  width: 96%;              
}
#searchform .searchform-wrapper .send {
  background-color: #ffa340;
  background-image: url(images/searchform-send.png);
  border: none;
  cursor: pointer;
  height: 31px;
  position: absolute;
  right: 0;
  top: 0;
  width: 31px;
  z-index: 20; 
}
#searchform .send:hover {
  background-color: #ed7c00;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}


/* comments area
-------------------------------------------------------------- */

#comments {
  float: left;
  margin: 0; 
  width: 100%;        
}
#content .commentlist {
  list-style-type: none;
  margin-bottom: 30px;             
}
.commentlist .children {
  list-style-type: none;                       
}
.comment-reply-title {
  font-size: 20px;
  font-weight: normal;
  line-height: 100%;
  margin-top: 0;             
}
#comments .entry-headline-wrapper {
  margin-bottom: -21px;                        
}
#comments .entry-headline {
  background-image: none;
  border-bottom: none;
  color: #333333;
  font-size: 20px;
  font-weight: normal; 
  margin-bottom: -4px;
  padding: 0;                         
}
.comment-reply-link {
  font-size: 13px;                    
}
.comments-title {
  margin-top: 0;                
}
#comments .section-heading {
  font-weight: normal;              
}
#comments ol {
  color: #333333;
  margin-left: 0;             
}
#comments ol ol {
  margin: 0 20px;             
}
#comments ol li { 
  border-top: 1px solid #e8e8e8;
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;                
}
#comments .avatar,
#comments .fn {
  float: left;
  margin: 0 6px 0 0;                  
}
#comments .fn {
  font-style: italic; 
  margin: 0 3px 0 0;             
}
#comments time,
#comments .edit-link {
  color: #555555;
  float: right; 
  font-size: 13px;              
}
#comments .comment-content {
  clear: both;
  padding-top: 10px;                          
}
#comments #comment-nav-below {
  float: left;
  margin: 10px 0 30px;
  width: 100%;                  
}
#comments input,
#comments textarea {
  margin-top: 7px;                
}
#content #commentform .form-allowed-tags {
  color: #707070; 
  font-size: 12px;                  
}  
#comments .bypostauthor {
  background: #f2f2f2;
  border-top: 1px solid #cccccc;
  color: black;
  margin-bottom: -15px;
  padding: 10px 30px;              
}
.reply {
  margin-top: -10px;
  width: 50%;      
}
#content .comment-content p {
  font-size: 13px;
  margin-bottom: 10px;                   
}
#content .comment-content .edit-link {
  margin: -15px 0 0;
  text-align: right; 
  width: 50%;                                    
}
#content .comment-content li {
  border: none;
  font-size: 13px;
  margin: 0;
  padding: 0;                             
}
#content #commentform p {
  color: #333333;
  font-size: 13px;
  margin-bottom: 5px;                        
}
#content #commentform .logged-in-as,
#content #commentform .comment-notes {
  margin-top: 0;         
}
#comments #respond {
  float: left; 
  margin-bottom: 20px;                  
}


/* media queries
-------------------------------------------------------------- */

@media screen and (max-width: 1012px) {
  #wrapper #container {
    max-width: 90%;
    width: 90%;                         
}
  #wrapper #container #main-content {
    width: 100%;              
}
  #wrapper #content {
    max-width: 100%;
    width: 100% !important;                    
}
  #wrapper #sidebar {
    float: left;
    margin: 0;
    width: 100%;                    
}
  #wrapper .header-content {
    padding: 30px 5%;
    width: 90%;               
}
  #wrapper .site-title,
  #wrapper .site-description,
  #wrapper #header .header-content .header-logo {
    float: left;
    max-width: 100%;              
}
  #wrapper .header-content #searchform .searchform-wrapper {
    float: left;
    margin: 20px 0 0;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;        
}
  #wrapper .menu-box {
    padding: 0;
    width: 100%;          
}
  #wrapper #header .sticky-nav {
    max-width: 90%;
} 
  #wrapper .menu-box .link-home {
    display: none;                                
}
  #wrapper .top-navigation {
    height: 34px;
    padding: 0 20px;               
}
  #wrapper .header-icons {
    right: 20px;             
}
  .js #nav,
  .js #top-nav {
    display: none;
}
  .js .selectnav {
    background: #333333;
    border: 1px solid black;
    color: white;
    display: block;
    float: left;
    height: 36px;
    margin: 4px 0 0 5%;
    padding: 0; 
    position: relative;
    text-transform: uppercase;
    width: 90%;
} 
  .js #top-navigation-wrapper .selectnav {
    background: white;
    border: 1px solid #e6e6e6;
    color: #999999;
    height: 30px;
    margin: 2px 0 0;
    width: 40%;                                         
}
  #wrapper #container #footer {
    background-image: none; 
    padding: 30px 5% 4px; 
    width: 90%;                  
}
  #footer .footer-widget-area {
    margin: 0;
    padding: 0;
    width: 100%;                              
} 
}

@media screen and (max-width: 782px) {
  .admin-bar #header .sticky-nav {
    top: 46px !important;
} 
}

@media screen and (max-width: 600px) {
  .admin-bar #header .sticky-nav {
    top: 0 !important;
} 
}


/* print
-------------------------------------------------------------- */

@media print {
	html body {
    background: none !important; 
    font-family: Arial, Helvetica, sans-serif !important;        
}
  h1, h2, h3, h4, h5, h6 { 
    font-family: Arial, Helvetica, sans-serif !important;        
}
  #wrapper .entry-content-bcn,
  #wrapper-footer,
  #header,
  #sidebar,
  #respond,
  .scroll-top,
  .reply,
  .pattern {
    display: none !important;                                   
}
  #container {  
    max-width: 100% !important;
}
  #wrapper #main-content {
    padding: 0 !important;
    width: 100% !important;              
} 
  #content {
    width: 100% !important;         
}
  .entry-headline {
    background-image: none !important;                  
}
  #wrapper .entry-content {
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}
  #wrapper .entry-content-inner {
    padding: 0 !important;                       
}
}