
<div id="content">
  <div class="entry-content">
    <div class="entry-content-inner">
      <div class="content-headline">
        <h1 class="entry-headline"><span class="entry-headline-text">Donation Form</span></h1>
      </div>
      <p class="textnote">The SRHS Music Boosters are a 501(c)3 nonprofit organization. Donation receipts will be sent to the email entered below. <br/> Our Federal Tax ID Number is 33-0564403. <br/> To donate by check- Download the Fill Out the <a href="http://www.srhsmusic.com/?ddownload=2548" title="2015 SRHS Music Donation Form" rel="nofollow" class="ddownload-link id-2548 ext-pdf">2015 SRHS Music Donation Form</a>. <br/> Please make check donations to Scripps Ranch High School Music Boosters or SRHSMB</p>
      <form>
        <div class="form_elements">  
          <div class="form_group">Donor*</div>
          <div class="form_other">
            <input type="text" placeholder="Donor Name" value="" required size="40" ng-model="formData.donor.name">
          </div>
        </div>  
        <div class="form_elements">  
          <div class="form_group">Email*</div>
          <div class="form_other">
            <input type="email" placeholder="donor@srhsmusic.com" value="" required size="40" ng-model="formData.donor.email">
          </div>
        </div> 
        <div class="form_elements">  
          <div class="form_group">Phone Number</div>
          <div class="form_other">
            <input type="text" placeholder="000-000-0000" name="phone" value="" size="40" ng-model="formData.donor.phone">
          </div>
        </div>
        <div class="form_elements">
          <div class="form_group" style="vertical-align: middle;">Donation Amount</div>
          <div class="form_other">
            <div class="form_radio">
              <input type="radio" ng-value="150" ng-model="formData.amount"> Supporter $150
              <br/>
              <input type="radio" ng-value="200" ng-model="formData.amount"/> Music Lover $200
              <br/>
              <input type="radio" ng-value="250" ng-model="formData.amount"/> Conductor $250
              <br/>
              <input type="radio" ng-value="300" ng-model="formData.amount"> Maestro $300
              <br/>
              <input type="radio" ng-value="350" ng-model="formData.amount"/> Benefactor $350
              <br/>
              <input type="radio" ng-value="500" ng-model="formData.amount"/> Angel $500
              <br/>
              <input type="radio" ng-value="formData.otherAmt" ng-model="formData.amount"/> Other $ 
                  <input type="number" placeholder="50" min="0" ng-model="formData.otherAmt"/>
            </div>
          </div>
        </div>
        <div class="form_elements">  
          <div class="form_group">Apply my donation to: </div>
          <div class="form_other">
            <select ng-model="formData.applyDonation">
              <option value="General Music Fund">General Music Fund</option>
              <option value="Marching Band">Marching Band</option>
              <option value="Concert Band">Concert Band</option>
              <option value="Orchestra">Orchestra</option>
              <option value="Winter Guard">Winter Guard</option>
              <option value="Winter Drumline">Winter Drumline</option>
              <option value="Auction Winner Payment">FOR AUCTION WINNERS ONLY</option>
            </select>
          </div>
        </div>
        <div class="form_elements">
          <div class="form_group employer"><input type="checkbox" name="Donation" value="" ng-model="formData.employerMatch"> Employer matches donation</div>
            <div class="form_other">
              <input type="text" placeholder="Employer Name" ng-model="formData.employer" required ng-show="formData.employerMatch" class="ng-pristine ng-valid"/>
              <span ng-hide="formData.employerMatch">&nbsp;</span>
            </div>
        </div>
        <div class="form_elements">
          <div class="form_group employer"><input type="checkbox" name="Donation" value="" ng-model="formData.subscribe.emailUpdates">Sign up for email updates</div>
          <div class="form_other">
            <div class="form_check" ng-show="formData.subscribe.emailUpdates">
              <input type="checkbox" ng-model="formData.subscribe.general"> General SRHS Music
              <br/>
              <input type="checkbox" ng-model="formData.subscribe.boosters"> Music Boosters
              <br/>
              <input type="checkbox" ng-model="formData.subscribe.band"/> Symphonic Band
              <br/>
              <input type="checkbox" ng-model="formData.subscribe.orch"/> Orchestra
              <br/>
              <input type="checkbox" ng-model="formData.subscribe.march"> Marching Band
              <br/>
              <input type="checkbox" ng-model="formData.subscribe.guard"/> Color Guard
              <br/>
              <input type="checkbox" ng-model="formData.subscribe.jazz"/> Jazz Band
              <br/>
              <input type="checkbox" ng-model="formData.subscribe.perc"/> Percussion Ensemble
            </div>
            <span ng-hide="formData.emailUpdates">&nbsp;</span>
          </div>
        </div>
        <div class="form_elements centerButton">
          <a ui-sref="donation.confirm" class="button" style="margin-top: 10px;" ng-hide="disableConfirm()"><span>✓</span>Continue to Payment</a>
          <a class="button buttonD" ng-show="disableConfirm()"><span>X</span>
            Complete Details</a>
        </div>
      </form>
      <p class="textnote">Contributions to the SRHS Music Boosters are not required for students to participate in the music program. 
        Donations are one source of funding for the program. They are entirely voluntary, and greatly appreciated, in any amount.
        Thank you for your consideration and support. Donors will be recognized on the website, at concerts, and on programs.</p>
    </div>
  </div>
</div> <!-- end of content -->      