
<div id="content">
  <div class="entry-content">
    <div class="entry-content-inner">
      <div class="content-headline">
        <h1 class="entry-headline"><span class="entry-headline-text">Donation Form</span></h1>
      </div>
      <p class="textnote">The SRHS Music Boosters are a 501(c)3 nonprofit organization. Donation receipts will be sent to the email entered below. <br/> Our Federal Tax ID Number is 33-0564403. <br/> To donate by check- Download the Fill Out the <a href="http://www.srhsmusic.com/?ddownload=2548" title="2015 SRHS Music Donation Form" rel="nofollow" class="ddownload-link id-2548 ext-pdf">2015 SRHS Music Donation Form</a>. <br/> Please make check donations to Scripps Ranch High School Music Boosters or SRHSMB</p>
      <form>
        <div class="form_elements">  
          <div class="form_group">Donor</div>
          <div class="form_other">&nbsp;{{formData.donor.name}}</div>
        </div>  
        <div class="form_elements">  
          <div class="form_group">Email</div>
          <div class="form_other">&nbsp;{{formData.donor.email}}</div>
        </div> 
        <div class="form_elements" ng-show="formData.donor.phone">  
          <div class="form_group">Phone Number</div>
          <div class="form_other">&nbsp;{{formData.donor.phone}}</div>
        </div>
        <div class="form_elements">
          <div class="form_group" style="vertical-align: middle;">Donation Amount</div>
          <div class="form_other">&nbsp;${{formData.amount}}</div>
        </div>
        <div class="form_elements">  
          <div class="form_group">Apply my donation to: </div>
          <div class="form_other">&nbsp;{{formData.applyDonation}}</div>
        </div>
        <div class="form_elements" ng-show="formData.employerMatch">
          <div class="form_group">Employer matches donation</div>
          <div class="form_other">&nbsp;{{formData.employer}}</div>
        </div>
        <div class="form_elements" ng-show="enableEmailUpdate()">
          <div class="form_group">Get Email Updates for: </div>
          <div class="form_other">&nbsp;{{list}}</div>
        </div>
        <div ng-show="errorMsg">
          <div>
            <h3 class="payment-row">{{errorMsg}}</h3>
          </div>
        </div>
        <div ng-hide="processing||disableConfirm()" class="form_elements">
          <a ui-sref="donation.info" class="button confirm"><span>←</span>Edit Donation Details</a>
          <button class="button centerButton payButton"
                  data-key="pk_live_1zJlN1PfSxQBMo9pCcBH7u6C"
                  data-name="Scripps Ranch High School"
                  stripe-checkout="doCheckout"
                  data-image="css/images/stripeLogo.gif"
                  data-description="SRHS Music Donations"
                  data-panel-label="Payment Amount: "
                  data-allow-remember-me="false"
                  data-zip-code="true"
                  data-email="{{formData.donor.email}}"
                  data-amount="{{(formData.amount)*100}}">
            Pay $ {{formData.amount}} Now
          </button>
        </div>
        <div ng-show="(!processing)&&disableConfirm()" class="form_elements">
          <a ui-sref="donation.info" class="button confirm"><span>←</span>Enter Donation Details First</a>
        </div>
        <div ng-show="processing" class="centerButton form_elements">
            <a class="button buttonD"><span>X</span>
                Processing ${{formData.amount}}
            </a>
        </div>
      </form>
      <p class="textnote">Contributions to the SRHS Music Boosters are not required for students to participate in the music program. 
        Donations are one source of funding for the program. They are entirely voluntary, and greatly appreciated, in any amount.
        Thank you for your consideration and support. Donors will be recognized on the website, at concerts, and on programs.</p>
    </div>
  </div>
</div> <!-- end of content -->      