<div class="pattern"></div>
<div id="container">
  <header id="header">
    <div id="top-navigation-wrapper">
      <div class="top-navigation">
        <div class="header-icons">
          <a class="social-icon facebook-icon" href="https://www.facebook.com/scripps.ranchm" target="_blank"></a>
          <a class="social-icon rss-icon" href="http://www.srhsmusic.com/feed" target="_blank"></a>
        </div>
      </div>
    </div>
    <div class="header-content">
      <p class="site-title"><a href="http://www.srhsmusic.com/">SRHS Music</a></p>
      <p class="site-description">Home of the Falcon Corps &amp; Color Guard</p>
    </div>
    <div class="menu-box">
      <a class="link-home" href="http://www.srhsmusic.com/"></a>
      <div class="menu-srhs_main-container">
        <ul id="nav" class="menu">
          <li class="menu-item"><a title="glyphicon-home" href="http://www.srhsmusic.com/">HOME</a></li>
          <li class="menu-item"><a href="http://www.srhsmusic.com/events/">CALENDAR</a></li>
          <li class="menu-item">
            <a href="http://www.srhsmusic.com/category/news/">NEWS</a>
            <ul class="sub-menu">
  	           <li class="menu-item">
                  <a href="http://www.srhsmusic.com/category/2015/">2015 News</a>
              </li>
  	           <li class="menu-item">
                  <a href="http://www.srhsmusic.com/category/2014/">2014 News</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="http://www.srhsmusic.com/category/media/">MEDIA</a>
          </li>
          <li class="menu-item">
            <a href="http://www.srhsmusic.com/music-programs/">MUSIC PROGRAMS</a>
            <ul class="sub-menu">
            	<li class="menu-item">
                <a href="http://www.srhsmusic.com/about-music-boosters/">Music Boosters</a>
              </li>
            	<li class="menu-item">
                <a href="http://www.srhsmusic.com/music-programs/symphonic-band-2/">Symphonic Band</a>
              </li>
              <li class="menu-item">
                <a href="http://www.srhsmusic.com/music-programs/orchestra-string-full/">Orchestra – String | Full</a>
              </li>
            	<li class="menu-item">
                <a href="http://www.srhsmusic.com/music-programs/marching-band/">Marching Band</a>
              </li>
            	<li class="menu-item">
                <a href="http://www.srhsmusic.com/music-programs/colorguard-winterguard/">Color Guard | Winter Guard</a>
              </li>
            	<li class="menu-item">
                <a href="http://www.srhsmusic.com/music-programs/jazz-band/">Jazz Band</a>
              </li>
            	<li class="menu-item">
                <a href="http://www.srhsmusic.com/music-programs/percussion-ensemble/">Percussion Ensemble</a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1009 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-1014">
            <a href="http://www.srhsmusic.com/support/donations/">DONATIONS</a>
            <ul class="sub-menu">
  	           <li id="menu-item-1925" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1009 current_page_item first-menu-item menu-item-1925">
                <a href="http://www.srhsmusic.com/support/donations/">Donations</a>
              </li>
  	           <li id="menu-item-471" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-page-parent last-menu-item menu-item-471">
                <a href="http://www.srhsmusic.com/support/">Support The Program</a>
              </li>
            </ul>
          </li>
          <li id="menu-item-1844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1844">
            <a href="http://www.srhsmusic.com/subscribe/">Subscribe</a>
          </li>
        </ul>
        <select class="selectnav" id="selectnav1" ng-model="destination" ng-change="goTo()">
          <option value="">- MENU -</option>
          <option value="http://www.srhsmusic.com/">HOME</option>
          <option value="http://www.srhsmusic.com/events/">CALENDAR</option>
          <option value="http://www.srhsmusic.com/category/news/">NEWS</option>
            <option value="http://www.srhsmusic.com/category/2015/">→ 2015 News</option>
            <option value="http://www.srhsmusic.com/category/2014/">→ 2014 News</option>
          <option value="http://www.srhsmusic.com/category/media/">MEDIA</option>
          <option value="http://www.srhsmusic.com/music-programs/">MUSIC PROGRAMS</option>
            <option value="http://www.srhsmusic.com/about-music-boosters/">→ Music Boosters</option>
            <option value="http://www.srhsmusic.com/music-programs/symphonic-band-2/">→ Symphonic Band</option>
            <option value="http://www.srhsmusic.com/music-programs/orchestra-string-full/">→ Orchestra – String | Full</option>
            <option value="http://www.srhsmusic.com/music-programs/marching-band/">→ Marching Band</option>
            <option value="http://www.srhsmusic.com/music-programs/colorguard-winterguard/">→ Color Guard | Winter Guard</option>
            <option value="http://www.srhsmusic.com/music-programs/jazz-band/">→ Jazz Band</option>
            <option value="http://www.srhsmusic.com/music-programs/percussion-ensemble/">→ Percussion Ensemble</option>
          <option value="http://www.srhsmusic.com/support/donations/" selected="">DONATIONS</option>
            <option value="http://www.srhsmusic.com/support/donations/" selected="">→ Donations</option>
          <option value="http://www.srhsmusic.com/support/">→ Support The Program</option>
          <option value="http://www.srhsmusic.com/subscribe/">SUBSCRIBE</option>
        </select>
      </div>
    </div>  
  </header> <!-- end of header -->
  <!-- main content -->
  <div id="main-content">
    <div ui-view></div>
  </div>
    <div id="footnote">
      Powered by ds<sup>2</sup>v Concoctions
    </div>
</div>