<div id="content">
    <div class="entry-content">
        <div class="entry-content-inner">
          <div class="content-headline">
            <h1 class="entry-headline"><span class="entry-headline-text">Donation to SRHS Music Boosters, a 501(c)3 organization</span></h1>
          </div>
		    <h2>Thank you {{confirm.name}}, for your donation!</h2>
		    <p/>
		    <p>
		    	Your confirmation ID for the donation amount of <b>${{confirm.amount}}</b> is <b>{{regID}}</b>. An email confirmation will be sent to <b><i>{{confirm.email}}</i></b> in a few minutes. Please check your spam folder if you don't see it in your inbox. You could also print this page to use as an official donation receipt.
		    </p>
		    <p>
			    SRHS Music Boosters are a non-profit 501c(3) organization; your contribution may be deductible for income tax purposes. Please consult your tax advisor. Our Federal tax ID is 330564403.
			</p>
		</div>
	</div>
</div>

