.table-header {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 25px;
  background-color: rgb(0, 0, 255);
  color: white;
  font-family: "Arial";
  font-size: 10px;
  display: table;
  text-align: left;
  margin: 0;
}

.myBody {
  margin: 0;
}

.element {
  display: table-cell;
  vertical-align: middle;
}

.name-element {
  width: 135px;
  text-align: left;
  padding-left: 10px;
}

.email-element {
  width: 203px;
  text-align: left;
  padding-left: 10px;
}

.phone-element {
  width: 70px;
  text-align: left;
  padding-left: 10px;
}

.amount {
  width: 68px;
  text-align: right;
  padding-left: 10px;
}

.employer {
  width: 135px;
  text-align: center;
  padding-left: 10px;
}

.date-element {
  width: 135px;
  text-align: left;
  padding-left: 10px;
}

.donation-element {
  width: 150px;
  text-align: left;
  padding-left: 10px;
}

.table-contents {
  width: 100%;
  padding: 5px 0;
  font-family: "Arial";
  font-size: 10px;
  display: table;
  text-align: left;
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: black;
}

.table-row {
  display: table-row;
}

.display-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 7);
}

.button-position {
  width: 30%;
  float: left;
}

.display-button {
  border-radius: 5px;
  font-family: "Arial";
  font-size: 15px;
  display: block;
  margin: auto;
  border: 0;
  padding: 15px;
  text-align: center;
  height: 50px;
  margin-top: 15px;
  background-color: rgb(0, 0, 255);
  color: white;
}

.display-button:hover {
    background-color: #3374C2;
}

.display-container {
  margin-bottom: 80px;
  margin-top: 25px;
}
