.login-button {
    font-size: 140%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
    color: white;
    width: 90%;
    padding: 10px
}

.login-element {
	text-align: center;
	padding: 10px
}

#a0-onestep {
	margin:auto;
}