.main {
  background-image: url("images/bryce-background-new.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: -1000px -900px;
  margin: 0;
}

.inlay {
  margin: auto;
  margin-top: 50px;
  height: 400px;
  width: 550px;
  border-radius: 5px;
  background-color: #122331;
  background-color: rgba(10, 10, 10, 0.7);
}

.title {
  margin: auto;
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  padding-top: 20px;
  font-family: "Arial";
  height: 70px;
}

.elements {
  margin: auto;
  display: block;
  font-family: "Arial";
  font-size: 20px;
  color: #ffffff;
  height: 90px;
  
}

.elementLeft {
  float: left;
  text-align: center;
  padding-top: 8px;
  width: 260px;
}

.elementRight {
  float: left;
  width: 260px;
}

.myDate {
  font-size: 18px;
  font-family: "Arial";
  border-radius: 5px;
  border: 0px;
  padding: 4px 4px 4px 24px;
}

.mybutton {
  display: inherit;
  margin: auto;
  font-family: "Arial";
  font-size: 18px;
  width: 200px;
  color: #fff;
  background-color: #38627B;
  padding: 10px;
  border-radius: 3px;
  border: 0px;  
}

.mybutton:hover {
    background-color: #3374C2;
}

#footnote {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    font-family: cursive;
    font-weight: bold;
    padding-right: 2%;
    color: white;
    width: 100%;
    text-align: right;
    margin-top: -2%;
}

.avatar {
    float: left;
    margin-right: 1em;
    position: relative;
    height: 30px;
    margin-top: -4px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #999, 0 1px 1px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #999, 0 1px 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #999, 0 1px 1px 3px rgba(0,0,0,.2);
}

.user-profile {
    position: fixed;
    bottom: 10px;
    left: 10px;
}