
<div class="myBody">
   <!--Begin the Table-->
    <div class="table-header">
      <div class="name-element element element-header">Name</div>
      <div class="email-element element element-header">Email</div>
      <div class="phone-element element element-header">Phone</div>
      <div class="amount element element-header">Amount</div>
      <div class="employer element element-header">Employer</div>
      <div class="donation-element element element-header">Donation Category</div>
      <div class="subscribe element element-header">Email Subscriptions</div>
      <div class="date-element element element-header">Date Donated</div>
    </div>
  <div class="display-container">
    <div class="table-contents" ng-repeat="donation in donations">
      <div class="table-row">
        <div class="name-element element">{{ donation.name }}</div>
        <div class="email-element element">{{donation.email}}</div>
        <div class="phone-element element">{{donation.phone}}</div>
        <div class="amount element">${{donation.payment.amount}}</div>
        <div class="employer element">{{donation.employer}}</div>
        <div class="donation-element element">{{donation.donationGoesTo}}</div>
        <div class="subscribe element">{{getDonationString(donation)}}</div>
        <div class="date-element element">{{donation.inserted}}</div>
      </div>
    </div>
  </div>
  <div class="display-footer">
        <div class="button-position">
      <button class="display-button" ng-click="logOut()">
    <img src="{{profile.picture}}" class="avatar" />{{profile.name}} SIGN OUT</button>
    </div>
    <div class="button-position">
      <button class="display-button" ng-click="goBack()">PICK NEW DATE</button>
    </div>
    <div class="button-position">
      <button class="display-button" ng-csv="results" csv-header="getHeader()" filename="donations.csv" field-separator=","decimal-separator=".">
        EXPORT DONATIONS
      </button>
    </div>
  </div>
</div>