<div class="inlay">
    <div class="title">SRHS Music: Retrieve Donations</div>
    <div class="elements">
      <div class="elementLeft">Start Date</div>
      <div class="elementRight">
        <input type="date" class="myDate" ng-model="formData.startDate">
      </div>
    </div>
    <div class="elements">
      <div class="elementLeft">End Date</div>
      <div class="elementRight">
        <input type="date" class="myDate" ng-model="formData.endDate">
      </div>
    </div>
    <div class="elements">
      <button class="display-button" ng-click="findDonations()">GET DONATIONS</button>
    </div>
</div>

<div class="display-footer">
    <div class="user-profile">
      <button class="display-button" ng-click="logOut()">
    <img src="{{profile.picture}}" class="avatar" />{{profile.name}} SIGN OUT</button>
    </div>
</div>