<div class="inlay">
    <div class="title">SRHS Music Donations</div>
    <div id="login-widget">
      <div class="elements login-element">
       This application is meant for <br/>Authorized SRHS Music Administrators <br/>Only
      </div>
      <div class="elements login-element">
    	 {{errorMessage}}
      </div>
      <div class="elements">
        <button class="login-button display-button" ng-click="login()">SIGN IN</button>
      </div>
    </div>
</div>
<div class="display-footer">
</div>
